#vue-main {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 999999;
    width: 100%;
    mix-blend-mode: hard-light;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #0f0f0f;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    path {
        stroke-width: 10px;
        fill: transparent;
        stroke: #a1d7e6;
        stroke-linecap: round;
        /* box-shadow: 3px 3px 3px #fff; */
        filter: blur(15px);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

webview {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 1;
    transform: translate(0%, -100%);
    display: inline-flex;
    // visibility: collapse;
    transition: transform 0.5s ease;
    width: 0%;
    height: 0%; // display: none; 
}

#view.render {
    display: inline-flex;
    visibility: visible;
    width: 100%;
    z-index: 99999999;
    height: 100%; // display: none; 
    transform: translate(0%, 0%);
    pointer-events: all;
}
